<div class="bodycontent">
        <div id="headhome">
                <img src="/img/modifarticle.jpg" class="img-fluid" id="imghome" alt="Responsive image">
                <img src="/img/articlemodif.png" class="img-fluid" id="imghome" alt="Responsive image">
              </div>
        <form class="form-group" ng-submit="$ctrl.putArticle()">
                <div class="form-group">
                        <label for="postTitre">Titre</label>
                <input ng-model="$ctrl.articles.titre" class="form-control" id="postTitre" type="text">
                  <small id="titreHelp" class="form-text text-muted">Titre de l'article</small>
                </div>
                <div class="form-group">
                        <label for="postAuteur">Auteur</label>
                        <input ng-model="$ctrl.articles.auteur" class="form-control" id="postAuteur" type="text">
                  <small id="auteurHelp" class="form-text text-muted">Auteur de l'article</small>
                </div>
                <div class="form-group">
                        <label for="postBody">Body</label>
                        <textarea ng-model="$ctrl.articles.body" class="form-control" rows="3" id="postBody" type="text"></textarea>
                        <small id="bodyHelp" class="form-text text-muted">Contenu de l'article</small>
                </div>
                <button id="postARTICLE" type="submit" class="btn btn-primary" >Envoyer</button>

              </form>
                <form ng-submit="$ctrl.deleteArticle()">
                        <button id="deleteARTICLE" type="submit" class="btn btn-danger" >Supprimer</button>
                  </form>
        
        <p>{{$ctrl.posted}}</p>
</div>
