<!-- <form class="form-group" ng-submit="$ctrl.postArticle()">

    <label for="postTitre">Titre:</label>
        <input ng-model="$ctrl.titre" class="form-control" id="postTitre" value="valeurposttitre" type="text">

    <label for="postAuteur">Auteur:</label>
        <input ng-model="$ctrl.auteur" class="form-control" id="postAuteur" type="text">
            
    <label for="postBodu">Body:</label>
        <textarea ng-model="$ctrl.body" class="form-control" rows="3" id="postBody" type="text"></textarea>
             
        <button id="postARTICLE" type="submit" class="btn btn-primary" >Submit</button>

</form> -->
<div id="headhome">
        <img src="/img/blogadd.jpg" class="img-fluid" id="imghome" alt="Responsive image">
        <img src="/img/addblog.png" class="img-fluid" id="imghome" alt="Responsive image">
      </div>
<div class="bodycontent">
        <form class="form-group" ng-submit="$ctrl.postArticle()">
                <div class="form-group">
                        <label for="postTitre">Titre</label>
                <input ng-model="$ctrl.titre" class="form-control" id="postTitre" value="valeurposttitre" type="text">
                  <small id="titreHelp" class="form-text text-muted">Titre de l'article</small>
                </div>
                <div class="form-group">
                        <label for="postAuteur">Auteur</label>
                        <input ng-model="$ctrl.auteur" class="form-control" id="postAuteur" type="text">
                  <small id="auteurHelp" class="form-text text-muted">Auteur de l'article</small>
                </div>
                <div class="form-group">
                        <label for="postBody">Body</label>
                        <textarea ng-model="$ctrl.body" class="form-control" rows="3" id="postBody" type="text"></textarea>
                        <small id="bodyHelp" class="form-text text-muted">Contenu de l'article</small>
                </div>
                <div class="form-group">
                                <label for="postAuteur">Youtube URL</label>
                                <input ng-model="$ctrl.YoutubeURL" class="form-control" id="youtubeArticle" type="text">
                          <small id="auteurHelp" class="form-text text-muted">Aujoutez une vidéo YouTube</small>
                        </div>
                <button id="postARTICLE" type="submit" class="btn btn-primary" >Envoyer</button>
              </form>

        
        <p>{{$ctrl.posted}}</p>
        </div>
        <image-upload></image-upload>