
      <nav class="navbar navbar-expand-lg navbar-light" id="navigationbar">
          <a class="navbar-brand text-white" href="#">
              <img src="/img/team-io.png" width="30" height="30" class="d-inline-block align-top border border-secondary" alt="">
              Team IO
            </a>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" id="hovernav" href="#!/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="hovernav" href="#!/addArticle">Nouvel Article</a>
                    </li>
                  </ul>
            </form>
          </div>
        </nav>

      