<div class="bodycontent">
                <div id="headhome">
                                <img src="/img/readarticle.jpg" class="img-fluid" id="imghome" alt="Responsive image">
                                <img src="/img/articleread.png" class="img-fluid" id="imghome" alt="Responsive image">
                              </div>
        <blockquote class="blockquote text-center">
                <p class="mb-0 display-1">{{$ctrl.articles.titre}}</p>
                <footer class="blockquote-footer">Poster par <a href="" >{{$ctrl.articles.auteur}}</a> le <cite title="Source Title">{{$ctrl.articles.date}}</cite></footer>
              </blockquote>
              
                  <pre id="myCode"></pre>

        <p  class="border border-secondary" class="text-justify" >{{$ctrl.articles.body}}</p>
 <form class="form-group" ng-submit="$ctrl.putArticle()">
        <button id="putARTICLE" type="submit" class="btn btn-warning" >Modifier Article</button></form>
</div>
