<div>
    <div id="headhome">
        <img src="/img/bloghome.jpg" class="img-fluid" id="imghome" alt="Responsive image">
        <img src="/img/monblog.png" class="img-fluid" id="imghome" alt="Responsive image">
      </div>
      <new-article></new-article>
      <div class="bodycontent">
          <p>
              Search:
              <input ng-model="$ctrl.query" />
            </p>
      
            <p>
              Sort by:
              <select ng-model="$ctrl.orderProp">
                <option value="name" >Newest</option>
                <option value="ID">Oldest</option>
              </select>
            </p>
      
      
            <ul class="articles">
              <li ng-repeat="article in $ctrl.articles | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="shadow-lg p-3 mb-5 bg-white rounded">
      <!--           <a href="#!/articles/{{article.id}}" class="thumb">
                  <img ng-src="{{article.imageUrl}}" alt="{{article.name}}" />
                </a> -->
                <p id="datearticle">{{article.date}}</p>
                <a class="h1" id="titrearticle" href="#!/articles/{{article.ID}}">{{article.titre}} </a>
                <p class="lead" >{{article.body}}</p>
                <small id="nomauteurarticle" class="form-text text-muted">Poster par <a href="">{{article.auteur}}</a></small>
              </li>
            </ul>
      </div>
            
</div>
<!-- <div id="headhome">
  <img src="/img/bloghome.jpg" class="img-fluid" id="imghome" alt="Responsive image">
  <p class="text-white">BLOG IO</p>
</div>

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>


      <ul class="articles">
        <li ng-repeat="article in $ctrl.articles | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
           <a href="#!/articles/{{article.id}}" class="thumb">
            <img ng-src="{{article.imageUrl}}" alt="{{article.name}}" />
          </a> -->
         <!--  <a href="#!/articles/{{article.ID}}">{{article.titre}}</a>
          <p>{{article.body}}</p>
          <p>{{article.ID}}</p>
        </li>
      </ul>  -->