/* body {
  padding-top: 20px;
}

.articles {
  list-style: none;
}

.articles li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
} */
#imghome {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-height: 800px;
  min-width: 1080px;
}
#hovernav {
  color: white;
}
#hovernav:hover {
  background-color: white;
  color: grey;
}
#headhome {
min-height: 380px;
height:auto;
  width:auto;
}
ul {
  list-style-type: none; 
}
.bodycontent {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.newbodycontent {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#newarticle {
  background-color: #f2f2f2;
  width: 100%;
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newarticles{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 30%;
  height: 200px;
}
#nomauteurarticle {
  text-align:right;
}
#datearticle {
  float: right;
  text-align:right;
  width: 20%
}
#titrearticle {
  display: block;
  width: 70%;
}
#putARTICLE {
  float: right;
}
#deleteARTICLE {
  float: right;
  width: auto;
}
#postARTICLE {
  width: auto; 
  border: 1px solid black;
}
.articles li {
  white-space: wrap;
  overflow: hidden;
  height: 150px;
}