<div id="newarticle">
    <div class="newbodycontent">

                <div ng-repeat="article in $ctrl.articles" class="newarticles">
                    <a class="h4" href="#!/articles/{{article.ID}}">{{article.titre}} <span class="badge badge-secondary">New</span></a>
                    <p class="lead" >{{article.body}}</p>
                    <p>{{article.ID}}</p>
                </div>

    </div>
</div>
